* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  background-color: rgb(151, 240, 240);
}

a {
  text-decoration: none;
}

/* button {
  background-color: white;
  color: rgb(255, 0, 0);
} */

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-color: green;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: rgb(255,0,0);
  background: lightgrey;
  font-size: 20px;
  border-color: red;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}