.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-color: green;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: rgb(255,0,0);
  background: lightgrey;
  font-size: 20px;
  border-color: red;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}